<footer>
    <small>
        <ul class="company">
            <li>© <span class="rocky">STABEN</span></li>
        </ul>

        <ul class="footer-nav">

            <li><a href="{{ url_for('public.about') }}">Om</a></li>

        </ul>
    </small>
</footer>
