
{% extends "layout.html" %}

{% block content %}
    <div class="body-content">
        <div class="row">
            <div class="col-xs-12">
                <h1>Vad fan är det här?</h1>
                <p><span class="rocky">Slasqrr</span> är <span class="rocky">Slasquen</span>s alldeles egna mini-twitter. Ladda upp ett meddelande och se den visas i <span class="rocky">Slasquen</span>-skogen!</p>
                <p>Utvecklad av <span class="rocky">STABEN</span> 13/14 för att vi är dumma i huvudet.</p>
                <p><img src="/static/img/gruppbild.jpg" alt="Schnyggon" class="img-responsive img-thumbnail" /></p>
                <p>Ingen tar ansvar för något vid användandet av denna tjänst.</p>
            </div>
        </div>
    </div>
{% endblock %}

