
{% extends "layout.html" %}
{% block content %}
    <div class="body-content">

        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h1>Ladda upp meddelande</h1>
                    <p>
                        Meddelandet kommer att visas på TVn inom kort. <br/>
                        <small>(Har du inte sett TVn? Kanske speja runt lite i skogen!)</small>
                    </p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <form class="form-horizontal" method="POST" action="/" enctype="multipart/form-data">

                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <label for="alias" class="col-xs-4 control-label">Alias</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="alias" name="alias" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="message" class="col-xs-4 control-label">Meddelande</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="message" name="message" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="picture" class="col-xs-4 control-label">Bild (max 10MB)</label>
                        <div class="col-xs-8">
                            <input type="file" class="control-label" id="picture" name="picture" />
                        </div>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-default pull-right">Ladda upp</button>

                </form>

            </div>
        </div>
    </div>
{% endblock %}

