<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{% block page_title %}

        SLASQRR

    {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <meta property="og:url" content="http://slasquen.rocks" />
    <meta property="og:title" content="Dödsfest är bra fest." />
    <meta property="og:site_name" content="Slasquen.rocks"/>
    <meta property="og:description" content="STABENs finfina eventsida för Slasquen. Kom igen det blir kul!"/>
    <meta property="og:image" content="http://slasquen.rocks/static/img/gruppbild.jpg" />

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    {% assets "css_rpi" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block css %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}

{#    <header>{% block header %}{% endblock %}</header>#}
    <div class="{% block content_class %}container{% endblock content_class %}">

        <div role="main">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                                    {{message}}
                                </div><!-- end .alert -->
                            {% endfor %}
                        </div><!-- end col-md -->
                    </div><!-- end row -->
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>

    </div><!-- end container -->

    <!-- JavaScript at the bottom for fast page loading -->
    {% assets "js_rpi" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block js %}{% endblock %}
    {% if prod %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-62568300-1', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}
    <!-- end scripts -->
{% endblock %}
</body>
</html>

