{% extends "rpi/rpi_layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h1 class="rocky text-center">Slasqrr</h1>
            <div id="pics" class="carousel slide" data-ride="carousel" data-intervall="5000" data-keyboard="false" data-pause="">

                <div id="items" class="carousel-inner">
                    <div class="item active">
                        <h1 id="first" class="rocky text-center">Slasqrr by STABEN</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center"><a href="{{ url_for("public.home") }}">www.slasquen.rocks</a></h1>
        </div>
    </div>

{% endblock %}
