@font-face {
    font-family: rocky;
    src: url(../font/rocky/Truetype/ROCKYAOE.ttf);
}

.rocky {
    font-family: rocky;
    color: #E23828;
}

#pics {
    height: 365px;
}

#first {
    margin-top: 60px;
    font-size: 6.0em;
}

#pics img {
    display: block;
    margin: auto;
    max-height: 365px;
}

.carousel-caption h1 {
    background-color: rgba(0,0,0,0.5);
}
